.element__title {
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000;
  grid-column: 1/2;
  grid-row: 2/3;
  margin: 0 0 0 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 190px;
}