.header {
  max-width: 880px;
  min-height: 74px;
  margin: 0 auto;
  /* padding: 0 10px; */
  box-sizing: border-box;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 710px) {
  .header {
    min-height: 56px;
    padding: 0 27px;
  }
}